
<br><br>
<div class="home">
  <p>ngTeamPlate</p>
  <br><br>
  <h3>Tuổi bạn là {{ age }}</h3>
  <input type="text" [(ngModel)]="age">
  <br><br>
  <!-- *ngIf liên kết trong ra ngoài -->
    <!-- <h3 *ngIf=" age > 18">Bạn già quá !</h3>
    <h3 *ngIf=" age <= 18">Bạn trẻ quá !</h3> -->


    <div *ngIf=" age <= 18; then tre ; else gia "></div>
      <ng-template #gia><h3>Bạn <a class="tg">già</a> quá !</h3></ng-template>
      <ng-template #tre><h3>Bạn <a class="tg">trẻ</a> quá !</h3></ng-template>


</div>

