
<br><br>
<div class="home">
  <p>Cascading Combobox</p>
  <h3>Form</h3>
  <!-- <div *ngFor="let tc of traiCay; let i = 'index + 1'">
      <li>{{i}}. {{ tc }}</li>
  </div> -->

  <!-- Table -->
  <br>
  Thành Phố
  <select id="thanhpho" (change)="changeThanhPho($event)" class="form-select">
    <option *ngFor="let tp of vietnamdata" value="{{ tp.thanhPho}}">
      {{tp.thanhPho}}
    </option>
  </select>
  <br><br>
  Quận Huyện
  <select id="quanhuyen" class="form-select">
    <option *ngFor="let qh of quanHuyens" value="{{ qh}}">
      {{ qh}}
    </option>
  </select>
</div>

