
<br><br>
<div class="home">
  <p>*ngFor</p>
  <h3>Form</h3>
  <div *ngFor="let tc of traiCay; let i = 'index + 1'">
      <li>{{i}}. {{ tc }}</li>
  </div>

  <!-- Table -->
  <br>
  <table id="table2" border="1">
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>price</th>
      <th>Giảm Giá</th>
    </tr>
    <tr *ngFor="let t of traiCay2; let i = 'index + 1 '">
      <td>{{i}}</td>
      <td>{{t.name}}</td>
      <td class="right">
        <span [ngClass]="{'soam': t.price < 0}">{{t.price}}</span>
      </td>
      <td>
        <span *ngIf="t.giamGia">SP đang gảim giá</span>
        <!-- <span>{{t.giamGia == true ? 'Giảm giá':'K giảm giá'}}</span> -->
      </td>
    </tr>
  </table>

</div>

